# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = PronNews.settings

[deploy:PN]
url = http://localhost:6800/
project = PN
